body {
    background-color: bisque;
}

h1 {
    color: black;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    font-style: oblique;
    font-weight: bolder;
    font-size: 4vw;
    margin-left: 3%; 
    margin-bottom: 1%; 
    margin-top: 0.1%; 
    position: relative;
}

h2 {
  color: black;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    font-style: oblique;
    font-weight: bolder;
    font-size: 2vw;
    margin-left: 3%; 
    margin-right: 30%;
    margin-bottom: 1%; 
    margin-top: 0.1%; 
    position: relative;
}

h3 {
  color: black;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    font-style: oblique;
    font-weight: bolder;
    font-size: 1vw;
    margin-left: 3%; 
    margin-bottom: 1%; 
    margin-top: 0.1%; 
    position: relative;
}

hr {
  margin-left: 3%;
  margin-right: 3%;
  color: black;
}
figure {
    font-family: 'Work Sans';
    font-size: 1.2vw;
    font-style: oblique;
    margin-left: 3%;  
    display: inline-block;
}

figure img {
    vertical-align: top;
}

figure figcaption {
    text-align: left;
    margin-left: 3%;
}

p {
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2vw;
    position: relative;
    margin-right: 30%;
    margin-left: 3%;
}

.hometxt {
  color: black;
    text-align: right;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2vw;
    position: relative;
    margin-right: 3%;
    margin-left: 75%;
}

.name
{
  color: black;
  text-align: center;
  font-family: 'Work Sans';
  font-size: 4vw;
  font-style: oblique;
  position: relative;
  margin-left: 3%;
}
.sidetext
{
  text-align: right;
  position: relative;
  margin-right: 3%;
}

.topnav {
    background-color: bisque;
    overflow: hidden;
    padding-right: 2%;
    padding-top: 2%;
  }
  
  .topnav a {
    float: right;
    color: black;
    text-align: center;
    font-family: 'Work sans';
    font-style: oblique;
    padding: 2%;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 0.1%;
  }
  
  .topnav a:hover {
    background-color: rgb(223, 193, 157);
    color: black;
    padding-top: 2%;
    padding-right: 2%;
  }
  
  .topnav a.active {
    color: black;
    padding-top: 2%;
    padding-right: 2%;
    font-weight: bold;
  }
  .column {
    float: left;
    width: 33.33%;
    padding: 3%;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #welcome {
    position: fixed;
    top: 40%;
    left: 37%;
    
  }

  .thumbnail:hover {
    position: fixed;
    top: -10%;
    left: -10%;
    width: 10%;
    height:auto;
    display:block;
    z-index:999;
}

 